@@font-face {
  font-family: com
  src:url(Comic Sans MS.ttf);
}

body {
  background-image: url(takitas.gif);
  background-color: white ;
  color: red;
  font-family: Verdana;
}

.img {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.andre {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.tak {

  white-space: pre-wrap;
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 45px
}

.tak2 {

  white-space: pre-wrap;
  text-align: center;
  font-family: com;
  font-size: 60px
}

.glom {

  font-size: 20px
}

.tak3 {

text-align: center;
text-decoration: underline;
font-size: 27px



}
